.thumbnail img {
    width:100%;
   
}

#thumbnail-single img{
    height: 140px;
}

.thumbnail{
    padding:0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form{
    
    display:inline;
}